{% extends 'base.html.twig' %}


{% block body %}

               {% include('back/_nav_backoffice.html.twig') %}

<div class="container-fluid justify-content-start">
<h2 class="text-center">Liste des Genres </h2>
<a class="btn btn-success " href="{{path ('back_genre_add')}}" role="button" aria-disabled="add genre">Ajouter un genre</a>


 {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}

 <div class="row align-items-start m-10 p-10">
<ul class="list-group">

    {% for current_genre in genres %}
     
{# TODO revoir l'affichage du template pour l'améliorer #}

<div class="list-group-item col-12"> {{current_genre.name}}
<a class="btn btn-primary " href="{{path ('back_genre_edit', {id: current_genre.id} )}}" role="button" aria-disabled="edit casting">Modifier</a>
<a class="btn btn-danger " href="{{path ("back_genre_delete",{id: current_genre.id} )}}" role="button" aria-disabled="edit">supprimer</a>
        </div>
       
    {% endfor %}


 </ul> 

 </div>
</div>

  {% endblock %}
