{% extends 'base.html.twig' %}

{% block body %}
 <!-- main -->

    <div class="container bg-lighttt pt-5">

        <div class="row mb-2">

            <div class="col">

                <div
                    class="row g-0 borderrr rrrounded overflow-hidden flex-md-row align-items-start mb-4 shadow-smmm position-relative">
                    <div class="col-4 movie__poster img-thumbnail"
                        style="background-image: url({{ show.poster }});">
                        <img src="{{ asset('images/poster-placeholder.png') }}" class="img-fluid">
                        <!-- img src="https://m.media-amazon.com/images/M/MV5BNThmZGY4NzgtMTM4OC00NzNkLWEwNmEtMjdhMGY5YTc1NDE4XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg" class="img-fluid" -->
                    </div>

                    <div class="col-8 p-4 d-flex flex-column position-static bg-light">
                        <a href="" class="movie__favorite fs-1 my-2 mx-3 link-danger"><i class="bi bi-bookmark-plus"></i></a>
                        <strong class="d-inline-block mb-2 text-primary">{{ show.type }}</strong>
                        <h3 class="mb-1">{{ show.title }}</h3>
                        <div class="mb-1 text-muted">{{ duration_in_minutes ?  duration_in_minutes : show.duration ~ ' min'}}</div>
                        <p>
            {# TODO affichage du genre: boucle car peut avoir plusieurs genre #}
                        {% for current_genre in show.genres %}

                            <span class="badge bg-warning text-dark">{{ current_genre.name }}</span>
                        {% endfor %}

                            {# <span class="badge bg-warning text-dark">Aventure</span>
                            <span class="badge bg-warning text-dark">Comédie</span>
                            <span class="badge bg-warning text-dark">Famille</span> #}
                        </p>
                        <p>{{ show.synopsis }}
                        </p>

                        <div class="d-flex mb-4" style="color: orange;">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-half"></i>
                            <span class="ps-1">{{ show.rating }}</span>
                        </div>
        {#  modifier dans Entité si saison = série sinon fixé a Film par défaut ) on affiche que si c'est une série, inutile si film #}
{# {{dump(show.castings)}} #}
                    {% if show.type == 'Série' %}

                        {# <h2>{{show.seasons.number}}</h2> #}
                        <h2>{{ show.seasons|length }} Saisons</h2>

                        <ul class="list-unstyled">
                         {% for current_season in show.seasons %}
                                <li><span class="badge bg-danger fs-6 mb-2">Saison {{ current_season.number }}</span><small class="ms-1">({{ current_season.episodeCount }} épisodes)</small></li>
                            {% endfor %}
                            {# <li><span class="badge bg-danger fs-6 mb-2">Saison 1</span><small class="ms-1">(10 épisodes)</small></li>
                            <li><span class="badge bg-danger fs-6 mb-2">Saison 2</span><small class="ms-1">(11 épisodes)</small></li>
                            <li><span class="badge bg-danger fs-6 mb-2">Saison 3</span><small class="ms-1">(12 épisodes)</small></li> #}
                        </ul>
                    {% endif %}

                        <dl class="row">
                            <dt class="col-sm-12">Avec</dt>
                            <dd class="col-sm-12">

        {# TODO liste des acteurs (PERSON->firstname , lastname) incarnant le personnage X (casting->role) #}

                    {% for current_casting in show.castings %}

                              {# <b>  {{current_casting.role}}</b> <i>incarné par  </i> <b> {{current_casting.person.firstname}}  {{current_casting.person.lastname}}</b><br> #}
                                {# Acteur 2 (La reine)<br> 
                                Acteur 3 (Franz)<br> #}
                    {% endfor %}

                            </dd>
                            <dt class="col-sm-12">Pays</dt>
                            <dd class="col-sm-12">USA</dd>
                            <dt class="col-sm-12">Année</dt>
                            <dd class="col-sm-12">{{ show.releasedAt|date('Y') }}</dd>
                        </dl>

                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}