{% extends 'base.html.twig' %}

{% block body %}

            {% include('front/main/_navfront.html.twig') %}

    <div class="container-xl bg-light p-5 border-top">

        <div class="row mb-2">

            <h2 class="text-muted fw-bold mb-4">Ma liste</h2>
{# message générant les succès ou erreurs lors de l'insertions des favoris 
 Le label permet d'utiliser les noms de classes bootstrap pour les mettre automatiquement de la "clé" (success) en classe pour afficher les alertes en CSS préprogrammé#}

           {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}
{# on boucle sur notre tableau des favoris transmis #}
          {% for show_id, current_show in show_list %}
            <div class="col-6">

                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm bg-white position-relative">
                    <div class="col-4 movie__poster" style="background-image: url({{ current_show.poster }});">
                        <!-- img src="https://m.media-amazon.com/images/M/MV5BYTRiNDQwYzAtMzVlZS00NTI5LWJjYjUtMzkwNTUzMWMxZTllXkEyXkFqcGdeQXVyNDIzMzcwNjc@._V1_SX300.jpg"
                            class="img-fluid" -->
                        <img src="images/poster-placeholder.png" alt="">
                    </div>
                    <div class="col-8 p-4 d-flex flex-column position-static">
                        <a href="" class="movie__favorite fs-1 my-2 mx-3 link-danger"><i class="bi bi-bookmark-x-fill"></i></a>
                        <strong class="d-inline-block mb-2 text-success">{{ current_show.type }}</strong>
                        <h4 class="mb-1">{{ current_show.title }}</h4>
                        <div class="mb-1 text-muted">{{ current_show.duration }} min</div>
                        <a href="" class="fs-1 mt-3 text-danger align-self-start">
                            <i class="bi bi-arrow-right-square"></i>
                        </a>
                        
                    </div>
                </div>
            </div>
{# ----------------------- #}
           
        </div>

        <div class="col">
            <a href="" class="btn btn-danger btn-sm" onclick="return confirm('Vider votre liste de favoris ?');">Vider la liste</a>
        </div>

    </div>
    {% endblock %}