
{% extends 'base.html.twig' %}


{% block body %}
   

               {% include('back/_nav_backoffice.html.twig') %}

<div class="container-fluid justify-content-start">
<h2 class="text-center">Liste des Castings </h2>
<a class="btn btn-success " href="{{path ('back_casting_add')}}" role="button" aria-disabled="add casting">Ajouter un casting</a>



 {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}

 <div class="container">
    <h1>Liste des castings</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Roles</th>
                <th>Credit Order</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for current_casting in castings %}

{# TODO il faudrait une séparation avec le titre afficher qu'une fois pour une liste de role #}
            <tr>
                <td>{{ current_casting.id }}</td>
                <td>{{ current_casting.role }}</td>
                <td>{{current_casting.creditOrder}}</td>

                <td>
                    <a class="btn btn-success " href="{{path ('back_casting_read', {id: current_casting.id} )}}" role="button" aria-disabled="edit casting">Voir</a>
                    <a class="btn btn-primary " href="{{path ('back_casting_edit', {id: current_casting.id} )}}" role="button" aria-disabled="edit casting">Modifier</a>
                    <a class="btn btn-danger " href="{{path ("back_casting_delete",{id: current_casting.id} )}}" role="button" aria-disabled="edit"  onclick="return confirm('Etes vous sur ?');">supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>



</div>

  {% endblock %}
