{% extends 'base.html.twig' %}


{% block body %}

               {% include('back/_nav_backoffice.html.twig') %}

<div class="container-fluid justify-content-start">
<h2 class="text-center">Liste des Acteurs </h2>
<a class="btn btn-success " href="{{path ('back_person_add')}}" role="button" aria-disabled="add person">Ajouter un acteur</a>


 {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}

 <div class="container">
    <h1>Liste des acteurs</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for current_actor in people %}
            <tr>
                <td>{{ current_actor.id }}</td>
                <td>{{ current_actor.firstname }} {{ current_actor.lastname }}</td>
                <td>
                    <a class="btn btn-success " href="{{path ('back_person_read', {id: current_actor.id} )}}" role="button" aria-disabled="edit casting">Voir</a>
                    <a class="btn btn-primary " href="{{path ('back_person_edit', {id: current_actor.id} )}}" role="button" aria-disabled="edit casting">Modifier</a>
                    <a class="btn btn-danger " href="{{path ("back_person_delete",{id: current_actor.id} )}}" role="button" aria-disabled="edit"  onclick="return confirm('Etes vous sur ?');">supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>

  {% endblock %}
