{% extends 'base.html.twig' %}


{% block body %}

               {% include('back/_nav_backoffice.html.twig') %}

<div class="container-fluid justify-content-start">
<h2 class="text-center">Liste des critiques de film </h2>
<a class="btn btn-success " href="{{path ('back_review_add')}}" role="button" aria-disabled="add person">Ajouter une critique</a>


 {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}

 <div class="container">
    <h1>Liste des critiques</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>films associés</th>
                <th>contenu</th>
                <th>notation</th>
                <th>réactions</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for current_review in reviews %}
            <tr>
                <td>{{ current_review.id }}</td>
                <td>{{ current_review.movie.title }}</td>
                <td>{{ current_review.content }}</td>
                <td>{{ current_review.rating }}</td>
                <td>
            {% for current_reaction in current_review.reactions %}
                {{ current_reaction }}
            {% endfor %}
                </td>
                <td>
                    <a class="btn btn-success " href="{{path ('back_review_read', {id: current_review.id} )}}" role="button" aria-disabled="edit casting">Voir</a>
                    <a class="btn btn-primary " href="{{path ('back_review_edit', {id: current_review.id} )}}" role="button" aria-disabled="edit casting">Modifier</a>
                    <a class="btn btn-danger " href="{{path ("back_review_delete",{id: current_review.id} )}}" role="button" aria-disabled="edit" onclick="return confirm('Etes vous sur ?');">supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>

</div>

  {% endblock %}