 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href={{path ('homepage')}} class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none header-logo">
                <img src="{{ asset('favicon.png') }}" height="24" alt="Logo O'flix">
                <span class="header-logo__title">O'flix</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{path ('homepage')}}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path ('movie_list')}}"><i class="bi bi-film"></i> Films, séries TV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{path('movie_favorites')}}><i class="bi bi-bookmark"></i> Ma liste</a>
                    </li>
                {# {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                 <li class="nav-item">
                       Bonjour, {{ app.user.username }}
                        Mail: {{app.user.email}}
                        Role: {{app.user.role}}
                       
                    </li> #}
                      {# <li class="nav-item">
                        <a class="nav-link" href={{path('movie_favorites')}}><i class="bi bi-bookmark"></i> Ma liste</a>
                    </li> #}
                        {# {% endif %} #}
                    
                   
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown">
                            <span>
            {#autre possibilité: {% if app.user %} #}

                           {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        Name: {{ app.user.username }} <br>
                        Mail: {{app.user.email}} <br>
                        Role: {{app.user.role}}


                        {% else %}
                        invité
                        {% endif %}
                            </span>
                            <i class="bi bi-person-square"></i>
                        </a>
                         {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                            <a role="button"class="btn btn-danger " href={{path ("app_logout")}} aria-label= "logout">Déconnexion</a>
                {% endif  %}
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Profil</a></li>

            {# **OK**  le lien backOffice ne devrait apparaitre que si utilisateur est MANAGER ou ADMIN #}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                                {% if (app.user.role == "ROLE_ADMIN") or (app.user.role == "ROLE_MANAGER")%}
                       
                                    <li><a class="dropdown-item" href={{path ("back_homepage")}}>Backoffice</a></li>
                                {% endif %}
                    {% endif %}

{# pourquoi il n'affiche pas la déconnexion si on est connecté  #}
                {# {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                            <li><a role="button"class="btn btn-danger " href={{path ("app_logout")}} aria-label= "logout">Déconnexion</a></li>
                {% endif  %} #}


                            <li>
                                <hr class="dropdown-divider">
                            </li>
                        </ul>
                    </li>
                </ul>

                {# <button type="button" class="btn btn-danger me-2" onclick={{path('app_login')}}>Connexion</button> #}
                {% if not app.user %}

                <a class="btn btn-danger " href={{path ("app_login")}} role="button" aria-label="login">Connexion</a>
                {% endif  %}


                <form class="d-flex" action="list.html">
                    <input class="form-control form-control-sm me-2" name="search" type="search" placeholder="Rechercher...">
                    <button class="btn btn-outline-danger" type="submit"><i class="bi bi-search"></i></button>
                </form>
            </div>
        </div>
    </nav>